<% if @inv_views_attributes.blank? %>
$('#sub-doc').html("<h3>No data available corresponding to the inputs giver.</h3>");
<% else %>
$('#sub-doc').html("<%= escape_javascript(render 'inv_views') %>");
<% end %>
