<h1>Inventory Status</h1>

<div class="container-fluid">
  <div class="col-sm-2">
    <div class="form-group" style="width: 75%;">
      <label> AUIN </label>
      <input id="auin" class="form-control" type="text" style="width: 70%"> <!-- value="<%= params[:auin] %>"> -->
    </div>
    <div class="btn-group">
      <button type="button" id="lookup_auin" name="button" class="btn btn-success"> Investigate </button>
    </div>
  </div>

  <div class="col-sm-10">
    <div class="well well-sm">
      <div align="center">
        <h4> Inventory Details </h4>
      </div>
    </div>
    <div id="sub-doc"></div>
  </div>
</div>


<script>

$('#lookup_auin').click(function() {
  $('#auin').val($.trim($('#auin').val()));
  if ($('#auin').val().length > 12) {
    $('#sub-doc').html("AUIN has too many characters");
  } else if ($('#auin').val().length = 0) {
    $('#sub-doc').html("AUIN has 0 characters");
  } else {
    $('#sub-doc').html("Loading...")
    $.ajax({
      url: "<%=get_inv_views_path%>",
      type: 'GET',
      dataType: 'script',
      data: {
        auin: $('#auin').val()
      }
    });
  }
});

</script>
